[submodule "examples/musl"]
	path = examples/musl
	url = git://git.musl-libc.org/musl
[submodule "examples/doom/chocolate-doom"]
	path = examples/doom/chocolate-doom
	url = https://github.com/chocolate-doom/chocolate-doom
[submodule "examples/cJSON"]
	path = examples/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "examples/mimalloc"]
	path = examples/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "examples/curl"]
	path = examples/curl
	url = https://github.com/curl/curl
[submodule "examples/zlib"]
	path = examples/zlib
	url = https://github.com/madler/zlib
[submodule "examples/littlefs"]
	path = examples/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "examples/compiler-benchmark"]
	path = examples/compiler-benchmark
	url = https://github.com/nordlow/compiler-benchmark
